# {{ ansible_managed }}

<IfModule ssl_module>
    SSLStaplingCache    shmcb:/tmp/stapling_cache(128000)

    SSLProtocol         {{ pki_protocols | default(apache2_ssl_protocol) | join(" ") }}
    SSLCipherSuite      {{ pki_ciphers | default(apache2_ssl_ciphers) | join(":") }}
    SSLHonorCipherOrder on
{% if apache2_ssl_hsts|d() %}

    Header add Strict-Transport-Security "max-age={{ apache2_ssl_hsts_age|d("15768000") }}"
{% endif %}
</IfModule>

<IfModule mod_gnutls.c>
    SSLStaplingCache    shmcb:/tmp/stapling_cache(128000)

    SSLProtocol         {{ pki_protocols | default(apache2_ssl_protocol) | join(" ") }}
    SSLCipherSuite      {{ pki_ciphers | default(apache2_ssl_ciphers) | join(":") }}
    SSLHonorCipherOrder on
{% if apache2_ssl_hsts|d() %}

    Header add Strict-Transport-Security "max-age={{ apache2_ssl_hsts_age|d("15768000") }}"
{% endif %}
</IfModule>
