{% if item.proxy_pass|d() %}

{% for src, dest in item.proxy_pass.items() %}
    ProxyPass {{ src }} {{ dest }}
{% endfor %}
{% endif %}
{% if item.redirect|d() %}

{% for redirect in item.redirect %}
{% if redirect.regex|d() %}
    RedirectMatch {{ redirect.code|d(apache2_redirect_code) }} {{ redirect.src }} {{ redirect.dest }}
{% else %}
    Redirect {{ item.code|d(apache2_redirect_code) }} {{ redirect.src }} {{ redirect.dest }}
{% endif %}
{% endfor %}
{% endif %}
