{% set apache2_tpl_document_root  = item.document_root | d("/var/www/${HOST}${DOMAIN}") %}
{% if item.index|d() %}
    DirectoryIndex {{ item.index }}

{% endif %}
{% if item.keepalive|d() %}
    KeepAlive {{ item.keepalive }}

{% endif %}
    DocumentRoot {{ apache2_tpl_document_root }}

    <Directory {{ apache2_tpl_document_root }}>
        Options {{ item.document_root_options | default(['Indexes', 'FollowSymLinks']) | join(" ") }}
        Require all granted
        AllowOverride {{ item.document_root_allow_override | default("all") }}
{% if item.document_root_add_handler|d() %}
        <IfModule mime_module>
{% for handler, extension in item.document_root_add_handler.items() %}
            Addhandler {{ handler }} {{ extension }}
{% endfor %}
        </IfModule>
{% endif %}
{% if item.document_root_additional|d() %}
{% for line in item.document_root_additional %}
        {{ line }}
{% endfor %}
{% endif %}
    </Directory>
{% for section in item.section_list|d() %}

{% if section.type == "IfModule" %}
    <IfModule {{ section.location }}>
{% else %}
    <{{ section.type }} "{{ section.location }}">
{% endif %}
{% if section.options|d() %}
        Options {{ section.options | join(" ") }}
{% endif %}
{% if section.require_all|d() %}
        Require all {{ section.require_all }}
{% endif %}
{% if section.allowoverride|d() %}
        AllowOverride {{ section.allowoverride }}
{% endif %}
{% if section.addhandler|d() %}
        <IfModule mime_module>
{% for handler, extension in section.addhandler.items() %}
            Addhandler {{ handler }} {{ extension }}
{% endfor %}
        </IfModule>
{% endif %}
{% if section.additional|d() %}
{% for line in section.additional %}
        {{ line }}
{% endfor %}
{% endif %}
    </{{ section.type }}>
{% endfor %}
{% if item.error_pages|d() %}

{% for error, page in item.error_pages.items() %}
    ErrorDocument {{ error }} {{ page }}
{% endfor %}
{% endif %}
{% if item.additional|d() %}

{% for line in item.additional %}
    {{ line }}
{% endfor %}

{% endif %}
