{% if item.ldap_auth_ssl | d(False) %}
    # <IfModule authnz_ldap_module>
    # <IfModule ldap_module>
       <Location />
           AuthType Basic
           AuthBasicProvider ldap
           AuthName "{{ item.ldap_auth_ssl_name }}"
           AuthLDAPURL "{{ item.ldap_auth_ssl_url }}"
           AuthLDAPBindDN {{ item.ldap_auth_ssl_bind }}
           AuthLDAPBindPassword {{ item.ldap_auth_ssl_pass }}
           AuthLDAPGroupAttribute member
           AuthLDAPGroupAttributeIsDN on
           # Require ldap-filter "(uid:caseExactMatch:=%{REMOTE_USER})"
{% for entity, dn in item.ldap_auth_ssl_require.items() %}
           Require {{ entity }} {{ dn }}
{% endfor %}
        </Location>
    # </IfModule>
    # </IfModule>
{% endif %}

{% if item.proxy_pass_ssl|d() %}

    <IfModule proxy_module>
        ProxyVia On
        ProxyRequests Off
{% if item.proxy_pass_ssl_sslengine | d(False) %}
        SSLProxyEngine On
{% endif %}
{% for src, dest in item.proxy_pass_ssl.items() %}
        ProxyPass {{ src }} {{ dest }}
        ProxyPassReverse {{ src }} {{ dest }}
{% endfor %}
        ProxyPreserveHost on
        <Proxy *>
            Options FollowSymLinks MultiViews
            AllowOverride All
            Order allow,deny
            allow from all
        </Proxy>
    </IfModule>
{% endif %}
{% if item.redirect_ssl|d() %}

    <IfModule alias_module>
{% for redirect in item.redirect_ssl %}
{% if redirect.regex|d() %}
        Redirect {{ redirect.code|d(apache2_redirect_code) }} {{ redirect.src }} {{ redirect.dest }}
{% else %}
        RedirectMatch {{ redirect.code|d(apache2_redirect_code) }} {{ redirect.src }} {{ redirect.dest }}
{% endif %}
{% endfor %}
    </IfModule>
{% endif %}
