{% set apache2_tpl_listen     = item.listen     | default(["[::]:80"])     | join(" ")     %}
{% set apache2_tpl_listen_ssl = item.listen_ssl | default(["[::]:443"])    | join(" ")     %}
{% set apache2_tpl_access_log = item.access_log | default("${HOST}${DOMAIN}_access")    %}
{% set apache2_tpl_error_log  = item.error_log  | default("${HOST}${DOMAIN}_error")     %}
# {{ ansible_managed }}
# Apache configuration for {{ item.name }}

<VirtualHost {{ apache2_tpl_listen }}>
    Define HOST     {{ item.host | d(ansible_hostname) }}.
    Define DOMAIN   {{ item.domain | d(ansible_domain) }}
    Define EMAIL    {{ item.email | d(apache2_email) }}

    ServerAdmin     ${EMAIL}
    ServerName      ${HOST}${DOMAIN}
{% if item.alias|d() %}
    ServerAlias     {{ item.alias | join(" ") }}
{% endif %}

{% endif %}
    ErrorLog        ${APACHE_LOG_DIR}/{{ apache2_tpl_error_log }}.log

{% if item.ssl|d(True) and item.redirect_to_ssl|d(True) %}
    RewriteEngine   On
{% if item.acme_challenge|d(True) %}
    RewriteCond     %{REQUEST_URI} !^/.well-known/acme-challenge/(.*)$
{% endif %}
    RewriteRule     ^(.*)$ https://%{SERVER_NAME}%{REQUEST_URI}
{% else %}
{% include "common.inc.j2" %}
{% include "common_http.inc.j2" %}
{% endif %}
</VirtualHost>
{% if item.ssl|d(True) %}

<VirtualHost {{ apache2_tpl_listen_ssl }}>
    Define HOST     {{ item.host | d(ansible_hostname) }}.
    Define DOMAIN   {{ item.domain | d(ansible_domain) }}
    Define EMAIL    {{ item.email | d(apache2_email) }}

    ServerAdmin     ${EMAIL}
    ServerName      ${HOST}${DOMAIN}
{% if item.alias|d() %}
    ServerAlias     {{ item.alias | join(" ") }}
{% endif %}

{% endif %}
    ErrorLog        ${APACHE_LOG_DIR}/{{ apache2_tpl_error_log }}.log

{% include "ssl.inc.j2" %}


{% include "common.inc.j2" %}
{% include "common_https.inc.j2" %}
</VirtualHost>
{% endif %}
