{% set apache2_tpl_ssl_certificate      = item.ssl_crt        | default("/etc/ssl/local/${HOST}${DOMAIN}.pem")          %}
{% set apache2_tpl_ssl_certificate_key  = item.ssl_key        | default("/etc/ssl/local/${HOST}${DOMAIN}.key")          %}
{% set apache2_tpl_ssl_protocol         = item.ssl_protocol   | default(apache2_ssl_protocol)                           %}
{% set apache2_tpl_ssl_ciphers          = item.ssl_ciphers    | default(apache2_ssl_ciphers)               | join(":")  %}
{% if item.ssl_hsts|d(True)                                                                                             %}
{% set apache2_tpl_ssl_hsts_age         = "max-age=" ~ item.ssl_hsts_age | d("15768000")                                %}
{% if item.ssl_hsts_extra|d(True)                                                                                       %}
{% set apache2_tpl_ssl_hsts_extra       = "; " ~ item.ssl_hsts_extra | d(['includeSubDomains', 'preload']) | join("; ") %}
{% endif                                                                                                                %}
{% endif                                                                                                                %}
{#
    ---- apache2 server ssl confiugration ----
#}
    SSLEngine on
{% if item.ssl_ca|d() %}
    SSLCACertificateFile {{ item.ssl_ca }}
{% endif %}
    SSLCertificateFile {{ apache2_tpl_ssl_certificate }}
    SSLCertificateKeyFile {{ apache2_tpl_ssl_certificate_key }}
{% if item.ssl_dhparam|d() %}
    SSLOpenSSLConfCmd DHParameters {{ item.ssl_dhparam }}
{% endif %}
{% if item.ssl_protocol|d() %}
    SSLProtocol {{ item.ssl_protocol }}
{% endif %}
{% if item.ssl_ciphers|d() %}
    SSLCipherSuite {{ item.ssl_ciphers }}
{% endif %}

{% if item.ssl_ca|d() %}
    SSLUseStapling on

{% endif %}
{% if item.ssl_hsts|d(True) %}
    <IfModule headers_module>
        Header add Strict-Transport-Security "{{ apache2_tpl_ssl_hsts_age }}{{ apache2_tpl_ssl_hsts_extra|d() }}"
    </IfModule>

{% endif %}
    <IfModule alias_module>
        <If "%{HTTP_HOST} != '${HOST}${DOMAIN}'">
            RedirectMatch (.*) https://${HOST}${DOMAIN}
        </If>
    </IfModule>
